.footer {
  background-color: #000000;
}
.footer-container {
  max-width: 1200px;
  padding: 120px 30px 90px 30px;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  border: 1px;
  position: relative;
  align-items: center;
}

.footer-container::before {
  content: url(/img/detalhe-roxo.png);
  position: absolute;
  top: -65px;
  left: 30px;
}

.footer-texto {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #bebebe;
}
.footer-contato {
  font-size: 2.5rem;
  display: grid;
  gap: 20px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-contato {
    font-size: 2rem;
    display: grid;
    gap: 20px;
  }
}
.rodape {
  color: #bebebe;
}
